
span{
    font-size: medium;
}
body{
    padding: 5rem;
}
.submit{
   padding-top: 1rem;
   float: right;
}
.error{
    font-size: small;
    color: #d3666f;
    font-weight: bold;
}
.color{
    color: rgba(1,160,254,255);
}