footer{
    background-color: rgba(1,160,254,255);
    padding-bottom: 1rem;
}
.pad{
    padding: 2rem;
    padding-left: 2rem;
}
img{
    height: 1.5rem;
    padding-right: 1rem;
}
a{
    color:rgba(0, 0, 0, 0.553);
    text-decoration: none;
}
.seperate{
    padding-bottom: 0.2rem;
}
p{
    font-size: small;
}