<footer>
    <div class="container">
        <div class="row">
          <div class="col-sm pad">
            <h6>More About Company</h6>
            <p>
                something should be here
            </p>
          </div>
          <div class="col-sm pad">
            <h6>Keep Connected</h6>
            <div class="seperate">
                <a href=""><img src="..\..\..\..\assets\footer\facebook.svg" alt="">facebook</a>
            </div>
            <div class="seperate">
                <a href=""><img src="..\..\..\..\assets\footer\insta.svg" alt="">insta</a>
            </div>
          </div>
          <div class="col-sm pad">
            <h6>Contact Information</h6>
            <div class="seperate">
                <a href=""><img src="..\..\..\..\assets\footer\location.svg" alt="">
                    No. 1/1 Madam street,
                    <div>
                        Near by Moongil Mandabam,
                    </div>
                    <div>
                        Pachaiyapas School Backside,
                    </div>
                    <div>
                        Kanchipuram - 631501
                    </div>
                </a>
            </div>
            <div class="seperate">
                <a href=""><img src="..\..\..\..\assets\footer\phone.svg" alt="">phone</a>
            </div>
            <div class="seperate">
                <a href=""><img src="..\..\..\..\assets\footer\mail.svg" alt="">mail</a>
            </div>
          </div>
        </div>
      </div>
      <p class="d-flex justify-content-center">&copy; Copyright 2024 Jayam Enterprises. All rights reserved.</p>
</footer>