<app-header></app-header>

<body>
    <div class="pad">
        <h3>Find Every Service in your Kanchipuram through One Click</h3>
        <p>Welcome to our home repair services, where we go above and beyond to meet all your needs under one roof. With
            a
            wealth of expertise and a dedication to excellence, we offer a comprehensive suite of services designed to
            enhance and maintain your home's functionality and aesthetics.</p>
        <div class="row">
            <div class="col">
                <img src="../../../../assets/pics/electrician.jpg" alt="">
            </div>
            <div class="card col">
                <p class="text-center">Electrical Services: This encompasses all aspects of electrical work, including
                    installation, repair, and
                    maintenance of electrical systems within the home. This can involve anything from fixing faulty
                    wiring
                    to installing new outlets or lighting fixtures.</p>
                    <hr>
            </div>
        </div>
        <div class="row">
            <div class="card col">
                <p class="text-center">Electronic Services: This refers to the repair and maintenance of electronic
                    devices and appliances
                    within the home, such as washing machine, and home automation systems. Skilled technicians can
                    diagnose
                    and fix issues to ensure these devices are functioning optimally.</p>
                    <hr>
            </div>
            <div class="col">
                <img src="../../../../assets/pics/washing.jpg" alt="">
            </div>

        </div>
        <div class="row">
            <div class="col">
                <img src="../../../../assets/pics/carpenter.jpg" alt="">
            </div>
            <div class="card col">
                <p class="text-center">Carpentry: Carpentry involves the crafting and installation of wooden structures
                    and components within
                    the home, such as cabinets, shelves, doors, and trim work. This service ensures that these elements
                    are
                    both functional and aesthetically pleasing.</p>
                    <hr>
            </div>
        </div>
        <div class="row">
            <div class="card col">
                <p class="text-center">CCTV Installation: CCTV (Closed-Circuit Television) installation involves setting
                    up surveillance cameras
                    and monitoring systems to enhance home security. Proper installation ensures comprehensive coverage
                    and
                    effective monitoring of the property.</p>
                    <hr>
            </div>
            <div class="col">
                <img src="../../../../assets/pics/cctv.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="../../../../assets/pics/painter.jpg" alt="">
            </div>
            <div class="card col">
                <p class="text-center">Painting: Painting services include both interior and exterior painting of the
                    home. This can involve
                    surface preparation, color selection, and application techniques to achieve a high-quality finish
                    that
                    enhances the overall appearance of the property.</p>
                    <hr>
            </div>
        </div>
        <div class="row">
            <div class="card col">
                <p class="text-center">Civil Work: Civil work encompasses a wide range of structural and foundational
                    tasks, including concrete
                    work, masonry, and structural repairs. This ensures the stability and integrity of the home's
                    foundation
                    and structure.</p>
                    <hr>
            </div>
            <div class="col">
                <img src="../../../../assets/pics/civil.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="../../../../assets/pics/steel.jpg" alt="">
            </div>
            <div class="card col">
                <p class="text-center">Welding: Welding services involve joining metal components together using heat
                    and pressure to create
                    sturdy and durable structures. This can include repairs to metal fixtures and fabrication of custom
                    metalwork for various home applications.</p>
                    <hr>
            </div>
        </div>
        <div class="row">
            <div class="card col">
                <p class="text-center">Consultancy: Consultancy services provide expert advice and guidance to
                    homeowners facing complex repair
                    or improvement projects. Consultants offer insights, recommendations, and strategic planning to help
                    clients make informed decisions and achieve their desired outcomes.</p>
                    <hr>
            </div>
            <div class="col">
                <img src="../../../../assets/pics/service.webp" alt="">
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>