.pad{
    padding: 3rem;
}
img{
    height: 15rem;
    width: 21rem;
}
.text-center{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
body{
    background-color: antiquewhite;
}