<header class="background">
    <nav class="navbar">
        <a class="navbar-brand d-flex"  routerLink="/home">
            <img class="logo" src="..\..\..\..\assets\logo.svg" alt="logo"> 
            <div>
                <h1>JAYAM ENTERPRISES</h1>
                <div>
                    <h6 class="text-muted">YOUR COMPLETE SERVICE SOLUTION</h6> 
                </div>
            </div>
        </a>  
        <div class="navbar">
            <a class="btn" [ngClass]="{active:router.url=='/home'}" routerLink="/home">Home</a>
            <a class="btn" routerLink="/orders" [ngClass]="{active:router.url=='/orders'}">Orders</a>
            <a class="btn" routerLink="/aboutUs" [ngClass]="{active:router.url=='/aboutUs'}">About us</a>
        </div>
        <div class="navbar">   
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="onKey($event)">
        </div>
        <a class="btn"><img src="https://cdn-icons-png.flaticon.com/128/2950/2950678.png" alt="" class="poplogo"></a>
        <!-- <div class="navbar pad position-absolute top-0 end-0">
            <button class="btn btn-primary">SignUp</button>
            <button class="btn btn-danger" (click)="loginPopup = true">Login</button>
        </div> -->
    </nav>
</header>

<!-- <div class="modal" tabindex="-1" [ngClass]="{ show: loginPopup }" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header navbar background">
            <img src="..\..\..\..\assets\logo.jpg" alt="logo" class="poplogo">
          <h5 class="modal-title">LOGIN</h5>
          <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="loginPopup = false">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->