.background{
    background-color: rgba(1,160,254,255);
}
.logo{
    height: 6rem;
}
.navbar{
    padding: 1rem;
}
.form-control{
    width: min-content;
}
h1,h6{
    padding-left: 1rem;
}
.pad{
    padding-right: 2rem;
}