.background{
    background-color: rgba(1,160,254,255);
}
.logo{
    height: 6rem;
}
.navbar{
    padding: 1rem;
}
.form-control{
    width: min-content;
}
h1,h6{
    padding-left: 1rem;
}
.pad{
    padding-right: 2rem;
}
.show{
    display: block;
    padding-top: 10rem;
}
.close{
    font-size: x-large;
}
.poplogo{
    height: 2rem;
}
.active {
    border: 0.3rem solid rgb(218, 46, 46);
    border-left: white;
    border-top: white;
    border-right: white;
    padding-bottom: 0.15rem;
  }