<header class="background">
    <nav class="navbar">
        <a class="navbar navbar-brand" href="#">
            <img class="logo" src="..\..\..\..\assets\logo.jpg" alt="logo"> 
            <div>
                <h1>JAYAM ENTERPRISES</h1>
                <div>
                    <h6 class="text-muted">YOUR COMPLETE SERVICE SOLUTION</h6> 
                </div>
            </div>
        </a>  
        <div class="navbar">   
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
        <div class="navbar pad position-absolute top-0 end-0">
            <button class="btn btn-primary">SignUp</button>
            <button class="btn btn-danger">Login</button>
        </div>
    </nav>
</header>