.container{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
img{
    height: 3rem;
    padding-right: 1rem;
}
.pad{
    padding: 1rem;
}
.row{
    padding: 1rem;
}
body{
    background-color:aliceblue;
}
.card{
    background-color:rgb(240, 240, 240);
    cursor: pointer;
    color: rgba(1,160,254,255);;
}
.name{
    font-size: large;
    font-weight: bold;
}
.card:hover {
    background-color:antiquewhite;
  }
  h3,h5{
    padding-left: 1rem;
    color: rgba(0, 0, 0, 0.578);
  }