
img{
    height: 3rem;
}
.pad{
    padding: 1rem;
    backdrop-filter: blur(10px);
}

.card{
    background-color:black;
    cursor: pointer;
    color: rgba(1,160,254,255);;
    height: 15rem;
}
.name{
    font-size: large;
    font-weight: bold;
    color:beige;
}
.card:hover {
  transform: scale(1.1);
  }
  h3,h5{
    padding-left: 1rem;
    color: rgba(0, 0, 0, 0.578);
  }
  .pic{
    padding-top: 0.5rem;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .padd{
    padding-right: 1rem;
  }
  .color{
    color: slategray;
  }
  p{
    font-weight:bold;
  }
 body{
  padding: 1rem;
 }