<body class="bg-light">
    <div class="container">
      <h3 class="color d-flex justify-content-left">A COMPLETE HOME SERVICE IN YOUR TOWN ON YOUR COMFORTABLE TIME</h3>
      <div class="navbar">
        <h5 class="color d-flex justify-content-left form-control btn">Electrical and Electronic Repairs</h5>
        <div class="row" *ngIf="service.electronicServices as list1">
            <div class="col-sm pic" *ngFor="let services of list1.services">
              <div class="card" (click)="selectedCatagory(services.name)">
                <img [src]="services.background" alt="Snow" style="width:100%
                ; height:100%">
                <div class="bottom-left">
                  <div class="pad">
                    <img [src]="services.img" alt=""> 
                    <span class="name">{{services.name}}</span>    
                </div>
                </div>
              </div>
          </div>
      </div>
      <div class="row" *ngIf="service.electronicServices1 as list1">
        <div class="col-sm pic" *ngFor="let services of list1.services">
          <div class="card" (click)="selectedCatagory(services.name)">
            <img [src]="services.background" alt="Snow" style="width:100%
            ; height:100%">
            <div class="bottom-left">
              <div class="pad">
                <img [src]="services.img" alt=""> 
                <span class="name">{{services.name}}</span>    
            </div>
            </div>
          </div>
      </div>
  </div>
</div>

    </div>
    <div class="navbar">
      <div class="container">
        <h5 class="color d-flex justify-content-left form-control btn">House Repair</h5>
        <div class="row" *ngIf="service.completeHomeServices1 as list">
          <div class="col-sm pic" *ngFor="let services of list.services">
            <div class="card" (click)="selectedCatagory(services.name)">
              <img [src]="services.background" alt="Snow" style="width:100%
              ; height:100%">
              <div class="bottom-left">
                <div class="pad">
                  <img [src]="services.img" alt=""> 
                  <span class="name">{{services.name}}</span>    
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="service.completeHomeServices2 as list">
          <div class="col-sm pic" *ngFor="let services of list.services">
            <div class="card" (click)="selectedCatagory(services.name)">
              <img [src]="services.background" alt="Snow" style="width:100%
              ; height:100%">
              <div class="bottom-left">
                <div class="pad">
                  <img [src]="services.img" alt=""> 
                  <span class="name">{{services.name}}</span>    
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar">
      <div class="container" *ngIf="service.consultancyServices as list">
        <h5 class="color d-flex justify-content-left form-control btn">We Providing Consultancy Service For Entire House</h5>
        <div class="row">
          <div class="col-sm pic">
            <div class="card" (click)="selectedCatagory(list.name)">
              <img [src]="list.background" alt="Snow" style="width:100%
              ; height:100%">
              <div class="bottom-left">
                <div class="pad">
                  <img [src]="list.img" alt=""> 
                  <span class="name">{{list.name}}</span>    
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
