<body>
    <div class="container">
      <h3>A Complete Home Service in your Town</h3>
      <h5>Electrical and Electronic Repairs</h5>
        <div class="row" *ngIf="service.electronicServices as list1">
            <div class="col-sm" *ngFor="let services of list1.services">
              <div class="card" (click)="selectedCatagory(services.name)">
                  <div class="pad">
                      <img [src]="services.img" alt=""> 
                      <span class="name">{{services.name}}</span>    
                  </div>
              </div>
          </div>
      </div>
      <div class="row" *ngIf="service.electronicServices1 as list1">
        <div class="col-sm" *ngFor="let services of list1.services">
          <div class="card" (click)="selectedCatagory(services.name)">
              <div class="pad">
                  <img [src]="services.img" alt=""> 
                  <span class="name">{{services.name}}</span>    
              </div>
          </div>
      </div>
  </div>
    </div>
      <div class="container">
        <h5>House Repair</h5>
        <div class="row" *ngIf="service.completeHomeServices1 as list">
          <div class="col-sm" *ngFor="let services of list.services">
            <div class="card" (click)="selectedCatagory(services.name)">
                <div class="pad">
                    <img [src]="services.img" alt=""> 
                    <span class="name">{{services.name}}  </span>    
                </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="service.completeHomeServices2 as list">
          <div class="col-sm" *ngFor="let services of list.services">
            <div class="card" (click)="selectedCatagory(services.name)">
                <div class="pad">
                    <img [src]="services.img" alt=""> 
                    <span class="name">{{services.name}}  </span>    
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="service.consultancyServices as list">
        <h5>We Providing Consultancy Service For Entire House</h5>
        <div class="row">
          <div class="col-sm">
            <div class="card" (click)="selectedCatagory(list.name)">
                <div class="pad">
                    <img [src]="list.img" alt=""> 
                    <span class="name">{{list.name}}  </span>    
                </div>
            </div>
          </div>
        </div>
      </div>
     
</body>
